body {
    background-color: rgb(132,11,65);
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: #b3b8ea
}

p {
    color: white;
}

#peter {
    height: 500px;
    width: auto;
}

@media (max-width: 600px) {
    body {
        background-color: #a31578;
    }

    h1 {
        font-size: 24px;
    }
    
    p {
        font-size: 16px;
    }

    #peter {
        height:200px;
        width:auto;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    h1 {
        font-size: 32px;
    }

    p {
        font-size: 18px;
    }

    #peter {
        height: 300px;
        width: auto;
    }
}

@media (min-width: 1025px) { 
    body {
        background-color:rgb(33,32,32);
        max-width:800px;
        margin:0 auto;
    }

    h1 {
        font-size: 48px;
    }

    p {
        font-size: 20px;
    }

    #peter {
        height:600px;
        width: auto;
    }
}

